<div class= "container px-5 px-sm-0">
  <div class="row">
    <dic class="col-md-3">
      <!--テンプレート-->
      <%= render 'userinfo', user: @user, book: @book %>
    </dic>
      <!--ユーザー一覧-->
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <%= render 'users/index', users: @users %>
    </div>
  </div>
</div>